*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}
body{
background: #210534;
color: #f9f4f5;
}
h1{
text-align: center;
margin: 100px auto 30px;
font-weight: 900;
 }
 h2{
text-align: center;
margin: 12px auto 30px;
font-weight: 900;
 }
 form{
width: 90%;
max-width: 600px;
margin: auto;
height: 80px;
background: #434989;
display: flex;
align-items: center;
border-radius: 8px;
}
form input{
flex: 1;
height: 100%;
border: 0;
outline: 0;
background: transparent;
color: #e6e5e5;
font-size: 18px;
padding: 0 30px;
}
form button{
padding: 0 40px;
height: 100%;
background: #a9dc1d;
color: #0a0404;
font-size: 18px;
border: 8;
outline: 5;
border-top-right-radius: 8px;
border-bottom-right-radius:8px;
cursor: pointer;
}
::placeholder{
color: #fff;
font-size: 18px;
}
#show-more-btn {
  background: #0e9a1c;
  color: #090101;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px auto 100px; 
  cursor: pointer;
  display: none; 
}
#search-result {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
}

#search-result img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 9px;
}
